* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

img svg {
  vertical-align: middle;
}

/* ACA COMIENZA PAGINA INDEX */
.conteiner {
  width: 80%;
  margin: 0% auto;
  max-width: 1320px;
  padding: 2rem 0 0 0;
  text-align: center;
}

header {
  background-color: #666f88;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 1.5rem 0 0 1.5rem;
  padding-left: 1rem;
}

.introduccion {
  background-color: #666f88;
  padding: 4rem 0 0 0;
}

.presentacion {
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.index__imagen {
  text-align: center;
  width: 500px;
  height: 300px;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulo {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 5s;
  animation-delay: 1s;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 400;
  padding-bottom: 2rem;
  text-align: center;
}

.input__botonindex {
  width: 200px;
  height: 50px;
  background-color: #4e8397;
  font-size: 1.5rem;
  border-style: ridge;
  font-weight: bold;
  color: black;
}

.boton__index {
  text-align: center;
  padding: 20px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.masinformacion__index {
  text-align: center;
  font-size: medium;
  padding-top: 50px;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.masinformacion__parrafo {
  color: #c9e9fc;
}
.footer {
  background-color: #c9e9fc;
  padding-top: 2rem;
}
.contacto {
  color: black;
  font-size: 15px;
}
.direccion {
  color: black;
}
.telefono {
  color: black;
}

/* ACA COMIENZA PAGINA CONTACTO */
.titulo__formulario {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font: weight 100%;
}

.formulario {
  background-color: gray;
  width: 80%;
  margin: 0% auto;
  max-width: 1320px;
  padding: 2rem 0 0 0;
  border: black double;
}

.input__uno {
  background-color: white;
}

.input__dos {
  background-color: white;
}

.input__tres {
  background-color: white;
}

.input__cuatro {
  background-color: white;
}

.conteiner__formulario {
  background-color: #4e8397;
  padding: 4rem 4rem 4rem 4rem;
}

/* ACA COMIENZA PAGINA NOSOTROS */

.presentacion__nosotros {
  background-color: #4e8397;
  width: 80%;
  margin: 0% auto;
  max-width: 1320px;
  padding: 2rem 0 0 0;
}

.descripcion {
  font-size: 1.4rem;
  display: inline-block;
}

.titulo__uno {
  font-weight: 700;
  display: inline-block;
  text-align: center;
  padding: 0 0 4rem 0;
}

/* ACA COMIENZA PAGINA SERVICIOS */

.article__servicios {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  border: 1px solid black;
  flex: 0 1 300px;
}

.imagen__kinesiologia {
  width: 300px;
  height: 300px;
}

.card__titulo {
  font-size: 1.5rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
/* ACA COMIENZA PAGINA SERVICIOS NUEVA */

.conteiner__servicios {
  background-color: #4e8397;
}
/* ACA COMIENZA GRIDS DE INDEX */

.grids__bodypadre {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* ACA COMIENZA MEDIA QUERIES */
@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: row;
  }
}

/* ACA COMIENZA CSS PARA TARJETA DE GALERIA CON GRID */

.grid__conteiner {
  background-color: #4e8397;
  padding: 30px 30px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid__tarjeta {
  padding: 5px 5px 5px 5px;
  background-color: #4e8397;
  margin: 0px;
  text-align: center;
}

.grid__tarjetaimg {
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 2px solid black;
}

.titulo__galeria {
  text-align: center;
  font-size: 80px;
}

.frase__galeria {
  text-align: center;
}

.boton__galeria {
  text-align: center;
  padding: 10px 0px 10px 0px;
}
.pie__geleria {
  text-align: center;
  background-color: #4e8397;
  padding: 10px 0 10px 0px;
}

.footer__galeria {
  background-color: gray;
  padding: 20px;
}

.main__galeria {
  background-color: #4e8397;
}
